.Button {
  cursor: pointer;
}

.clear {
  padding: 0;

  border: none;
  background: none;
  outline: none;
}

.primary {
  background-color: var(--primary-color);
  border: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}