.app_dark_theme {
  --bg-color:rgb(88, 88, 88);
  --inverted-bg-color:rgb(77, 77, 77);
  --primary-color: green;
  --secondary-color: #4dc74d;
  --inverted-primary-color: #575757;
  --inverted-secondary-color: #343534;
}