:root {
  --bg-color:#c0c0c0;
  --inverted-bg-color:rgb(236, 236, 236);
  --primary-color: #575757;
  --secondary-color: #343534;
  --inverted-primary-color: green;
  --inverted-secondary-color: #4dc74d;
}